In [12]:
import pandas as pd
import numpy as np

df = pd.read_csv("swiggy.csv")
df.head()

,ID,Area,City,Restaurant,Price,Avg ratings,Total ratings,Food type,Address,Delivery time
0,211,Koramangala,Bangalore,Tandoor Hut,300.0,4.4,100,"Biryani,Chinese,North Indian,South Indian",5Th Block,59
1,221,Koramangala,Bangalore,Tunday Kababi,300.0,4.1,100,"Mughlai,Lucknowi",5Th Block,56
2,246,Jogupalya,Bangalore,Kim Lee,650.0,4.4,100,Chinese,Double Road,50
3,248,Indiranagar,Bangalore,New Punjabi Hotel,250.0,3.9,500,"North Indian,Punjabi,Tandoor,Chinese",80 Feet Road,57
4,249,Indiranagar,Bangalore,Nh8,350.0,4.0,50,"Rajasthani,Gujarati,North Indian,Snacks,Desser...",80 Feet Road,63

In [7]:
print(df.head())

    ID         Area       City         Restaurant  Price  Avg ratings  \
0  211  Koramangala  Bangalore        Tandoor Hut  300.0          4.4
1  221  Koramangala  Bangalore      Tunday Kababi  300.0          4.1
2  246    Jogupalya  Bangalore            Kim Lee  650.0          4.4
3  248  Indiranagar  Bangalore  New Punjabi Hotel  250.0          3.9
4  249  Indiranagar  Bangalore                Nh8  350.0          4.0

   Total ratings                                          Food type  \
0            100          Biryani,Chinese,North Indian,South Indian
1            100                                   Mughlai,Lucknowi
2            100                                            Chinese
3            500               North Indian,Punjabi,Tandoor,Chinese
4             50  Rajasthani,Gujarati,North Indian,Snacks,Desser...

        Address  Delivery time
0     5Th Block             59
1     5Th Block             56
2   Double Road             50
3  80 Feet Road             57
4  80 Feet Road             63

In [8]:
print(df)

          ID                    Area       City                Restaurant  \
0        211             Koramangala  Bangalore               Tandoor Hut
1        221             Koramangala  Bangalore             Tunday Kababi
2        246               Jogupalya  Bangalore                   Kim Lee
3        248             Indiranagar  Bangalore         New Punjabi Hotel
4        249             Indiranagar  Bangalore                       Nh8
...      ...                     ...        ...                       ...
8675  464626  Panjarapole Cross Road  Ahmedabad                Malt Pizza
8676  465835                  Rohini      Delhi  Jay Mata Ji Home Kitchen
8677  465872                  Rohini      Delhi      Chinese Kitchen King
8678  465990                  Rohini      Delhi    Shree Ram Paratha Wala
8679  466488             Navrangpura  Ahmedabad              Sassy Street

      Price  Avg ratings  Total ratings  \
0     300.0          4.4            100
1     300.0          4.1            100
2     650.0          4.4            100
3     250.0          3.9            500
4     350.0          4.0             50
...     ...          ...            ...
8675  500.0          2.9             80
8676  200.0          2.9             80
8677  150.0          2.9             80
8678  150.0          2.9             80
8679  250.0          2.9             80

                                              Food type       Address  \
0             Biryani,Chinese,North Indian,South Indian     5Th Block
1                                      Mughlai,Lucknowi     5Th Block
2                                               Chinese   Double Road
3                  North Indian,Punjabi,Tandoor,Chinese  80 Feet Road
4     Rajasthani,Gujarati,North Indian,Snacks,Desser...  80 Feet Road
...                                                 ...           ...
8675                                             Pizzas   Navrangpura
8676                                       South Indian        Rohini
8677                             Chinese,Snacks,Tandoor        Rohini
8678                         North Indian,Indian,Snacks        Rohini
8679                               Chaat,Snacks,Chinese   Navrangpura

      Delivery time
0                59
1                56
2                50
3                57
4                63
...             ...
8675             40
8676             28
8677             58
8678             28
8679             44

[8680 rows x 10 columns]

In [9]:
print(df.isnull().sum())

ID               0
Area             0
City             0
Restaurant       0
Price            0
Avg ratings      0
Total ratings    0
Food type        0
Address          0
Delivery time    0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8680 entries, 0 to 8679
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             8680 non-null   int64
 1   Area           8680 non-null   object
 2   City           8680 non-null   object
 3   Restaurant     8680 non-null   object
 4   Price          8680 non-null   float64
 5   Avg ratings    8680 non-null   float64
 6   Total ratings  8680 non-null   int64
 7   Food type      8680 non-null   object
 8   Address        8680 non-null   object
 9   Delivery time  8680 non-null   int64
dtypes: float64(2), int64(3), object(5)
memory usage: 678.2+ KB

In [11]:
df.describe()

                  ID        Price  Avg ratings  Total ratings  Delivery time
count    8680.000000  8680.000000  8680.000000    8680.000000    8680.000000
mean   244812.071429   348.444470     3.655104     156.634793      53.967051
std    158671.617188   230.940074     0.647629     391.448014      14.292335
min       211.000000     0.000000     2.000000      20.000000      20.000000
25%     72664.000000   200.000000     2.900000      50.000000      44.000000
50%    283442.000000   300.000000     3.900000      80.000000      53.000000
75%    393425.250000   400.000000     4.200000     100.000000      64.000000
max    466928.000000  2500.000000     5.000000   10000.000000     109.000000

In [17]:
total_cities = df['City'].nunique()
print("Total number of cities:", total_cities)

Total number of cities: 9

In [20]:
df.tail()

,ID,Area,City,Restaurant,Price,Avg ratings,Total ratings,Food type,Address,Delivery time
8675,464626,Panjarapole Cross Road,Ahmedabad,Malt Pizza,500.0,2.9,80,Pizzas,Navrangpura,40
8676,465835,Rohini,Delhi,Jay Mata Ji Home Kitchen,200.0,2.9,80,South Indian,Rohini,28
8677,465872,Rohini,Delhi,Chinese Kitchen King,150.0,2.9,80,"Chinese,Snacks,Tandoor",Rohini,58
8678,465990,Rohini,Delhi,Shree Ram Paratha Wala,150.0,2.9,80,"North Indian,Indian,Snacks",Rohini,28
8679,466488,Navrangpura,Ahmedabad,Sassy Street,250.0,2.9,80,"Chaat,Snacks,Chinese",Navrangpura,44

In [24]:
df['Price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 8680 entries, 0 to 8679
Series name: Price
Non-Null Count  Dtype
--------------  -----
0 non-null      object
dtypes: object(1)
memory usage: 67.9+ KB

In [25]:
df['Price'].describe()

count       0
unique      0
top       NaN
freq      NaN
Name: Price, dtype: object

In [26]:
df['Price'] = df['Price'].info()
print(df)

<class 'pandas.core.series.Series'>
RangeIndex: 8680 entries, 0 to 8679
Series name: Price
Non-Null Count  Dtype
--------------  -----
0 non-null      object
dtypes: object(1)
memory usage: 67.9+ KB
          ID                    Area       City                Restaurant  \
0        211             Koramangala  Bangalore               Tandoor Hut
1        221             Koramangala  Bangalore             Tunday Kababi
2        246               Jogupalya  Bangalore                   Kim Lee
3        248             Indiranagar  Bangalore         New Punjabi Hotel
4        249             Indiranagar  Bangalore                       Nh8
...      ...                     ...        ...                       ...
8675  464626  Panjarapole Cross Road  Ahmedabad                Malt Pizza
8676  465835                  Rohini      Delhi  Jay Mata Ji Home Kitchen
8677  465872                  Rohini      Delhi      Chinese Kitchen King
8678  465990                  Rohini      Delhi    Shree Ram Paratha Wala
8679  466488             Navrangpura  Ahmedabad              Sassy Street

     Price  Avg ratings  Total ratings  \
0     None          4.4            100
1     None          4.1            100
2     None          4.4            100
3     None          3.9            500
4     None          4.0             50
...    ...          ...            ...
8675  None          2.9             80
8676  None          2.9             80
8677  None          2.9             80
8678  None          2.9             80
8679  None          2.9             80

                                              Food type       Address  \
0             Biryani,Chinese,North Indian,South Indian     5Th Block
1                                      Mughlai,Lucknowi     5Th Block
2                                               Chinese   Double Road
3                  North Indian,Punjabi,Tandoor,Chinese  80 Feet Road
4     Rajasthani,Gujarati,North Indian,Snacks,Desser...  80 Feet Road
...                                                 ...           ...
8675                                             Pizzas   Navrangpura
8676                                       South Indian        Rohini
8677                             Chinese,Snacks,Tandoor        Rohini
8678                         North Indian,Indian,Snacks        Rohini
8679                               Chaat,Snacks,Chinese   Navrangpura

      Delivery time
0                59
1                56
2                50
3                57
4                63
...             ...
8675             40
8676             28
8677             58
8678             28
8679             44

[8680 rows x 10 columns]

In [28]:
df['Price'] = df['Price'].mean()
print(df)

          ID                    Area       City                Restaurant  \
0        211             Koramangala  Bangalore               Tandoor Hut
1        221             Koramangala  Bangalore             Tunday Kababi
2        246               Jogupalya  Bangalore                   Kim Lee
3        248             Indiranagar  Bangalore         New Punjabi Hotel
4        249             Indiranagar  Bangalore                       Nh8
...      ...                     ...        ...                       ...
8675  464626  Panjarapole Cross Road  Ahmedabad                Malt Pizza
8676  465835                  Rohini      Delhi  Jay Mata Ji Home Kitchen
8677  465872                  Rohini      Delhi      Chinese Kitchen King
8678  465990                  Rohini      Delhi    Shree Ram Paratha Wala
8679  466488             Navrangpura  Ahmedabad              Sassy Street

      Price  Avg ratings  Total ratings  \
0       NaN          4.4            100
1       NaN          4.1            100
2       NaN          4.4            100
3       NaN          3.9            500
4       NaN          4.0             50
...     ...          ...            ...
8675    NaN          2.9             80
8676    NaN          2.9             80
8677    NaN          2.9             80
8678    NaN          2.9             80
8679    NaN          2.9             80

                                              Food type       Address  \
0             Biryani,Chinese,North Indian,South Indian     5Th Block
1                                      Mughlai,Lucknowi     5Th Block
2                                               Chinese   Double Road
3                  North Indian,Punjabi,Tandoor,Chinese  80 Feet Road
4     Rajasthani,Gujarati,North Indian,Snacks,Desser...  80 Feet Road
...                                                 ...           ...
8675                                             Pizzas   Navrangpura
8676                                       South Indian        Rohini
8677                             Chinese,Snacks,Tandoor        Rohini
8678                         North Indian,Indian,Snacks        Rohini
8679                               Chaat,Snacks,Chinese   Navrangpura

      Delivery time
0                59
1                56
2                50
3                57
4                63
...             ...
8675             40
8676             28
8677             58
8678             28
8679             44

[8680 rows x 10 columns]

In [29]:
print(df.shape)

(8680, 10)

In [30]:
df.dropna()
print(df)

          ID                    Area       City                Restaurant  \
0        211             Koramangala  Bangalore               Tandoor Hut
1        221             Koramangala  Bangalore             Tunday Kababi
2        246               Jogupalya  Bangalore                   Kim Lee
3        248             Indiranagar  Bangalore         New Punjabi Hotel
4        249             Indiranagar  Bangalore                       Nh8
...      ...                     ...        ...                       ...
8675  464626  Panjarapole Cross Road  Ahmedabad                Malt Pizza
8676  465835                  Rohini      Delhi  Jay Mata Ji Home Kitchen
8677  465872                  Rohini      Delhi      Chinese Kitchen King
8678  465990                  Rohini      Delhi    Shree Ram Paratha Wala
8679  466488             Navrangpura  Ahmedabad              Sassy Street

      Price  Avg ratings  Total ratings  \
0       NaN          4.4            100
1       NaN          4.1            100
2       NaN          4.4            100
3       NaN          3.9            500
4       NaN          4.0             50
...     ...          ...            ...
8675    NaN          2.9             80
8676    NaN          2.9             80
8677    NaN          2.9             80
8678    NaN          2.9             80
8679    NaN          2.9             80

                                              Food type       Address  \
0             Biryani,Chinese,North Indian,South Indian     5Th Block
1                                      Mughlai,Lucknowi     5Th Block
2                                               Chinese   Double Road
3                  North Indian,Punjabi,Tandoor,Chinese  80 Feet Road
4     Rajasthani,Gujarati,North Indian,Snacks,Desser...  80 Feet Road
...                                                 ...           ...
8675                                             Pizzas   Navrangpura
8676                                       South Indian        Rohini
8677                             Chinese,Snacks,Tandoor        Rohini
8678                         North Indian,Indian,Snacks        Rohini
8679                               Chaat,Snacks,Chinese   Navrangpura

      Delivery time
0                59
1                56
2                50
3                57
4                63
...             ...
8675             40
8676             28
8677             58
8678             28
8679             44

[8680 rows x 10 columns]